 * {
  box-sizing: border-box;
 }
 
 /* Header */
 header {
  display: flex;
  justify-content:space-between;
  margin: auto;
  width: 85%;
 }

 header h4 {
  padding-left: 15px;
  display: inline;
  font-size: 2.0rem;
 }

 .score {
  font-size: 1.5rem;
  text-align: left;
  display: inline;
  padding-right: 0px;
}

 .timer {
  font-size: 2.0rem;
  text-align: right;
  display: inline;
  padding-right: 20px;
}

#start-container {
  text-align: center;
  justify-content: center;
}

.btn  {
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
}

.btn:hover {
  background-color: aqua;
  cursor: pointer;
}






/*Question*/
#question-container {
  margin: 15px;
  padding: 15px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.answer-btn {
  width: 50%;
  text-align: left;
  padding: 10px;
  border: none;
  border-radius: 10px;
  display: grid;
  grid-gap: 5px;
  margin: 20px 0;
}

.answer-btn:hover {
  background-color: aqua;
  cursor: pointer;
}

.final-result {
  background-color: beige;
 text-align: center;
 justify-content: center;
 padding: 10px;
 
}




/* media query for smaller screens */

@media screen and (max-width: 1024px) {

  .answer-btn {
      width: 100%;
      font-size: 3.0vw;
  }

  #question {
      font-size: 4.5vw;
  }
}






